@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fontsource/raleway';



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1b1a1a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.underline {
  position: absolute;
  left: 0;
  bottom: -8px; 
  height: 3px; 
  width: 100%; 
  background-color: white; 
  transition: all 0.3s ease; 
  opacity: 0;
}

.active-underline {
  opacity: 1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Cambios para dispositivos pequeños */
@media (max-width: 640px) {
  body {
    padding: 10px; /* Añadir padding para dispositivos pequeños */
    margin: 0; /* Asegúrate de que el margen sea 0 para el body */
  }

  nav {
    padding: 0 10px; /* Añadir padding en el navbar */
  }

  .container {
    padding: 0 10px; /* Padding adicional para el contenedor */
  }

  /* Ajustar enlaces y botones */
  a, button {
    padding: 8px 12px; /* Aumentar el padding en enlaces y botones */
    display: block; /* Hacer que los enlaces ocupen todo el ancho */
    width: 100%; /* Asegurar que ocupen el 100% del contenedor */
  }
}
